.menu__item {
  margin-top: 2rem;
  position: relative;
}

.menu__item img {
  border-radius: 8px;
}

li.menu__item .menu__item--border img {
    border: 3px solid hsl(14, 86%, 42%);
    border-radius: 9px;
  }

.menu__category {
  margin-top: 2rem;
  color: hsl(12, 20%, 44%);
  font-size: 14px;
  margin-bottom: 4px;
}

.menu__item-header {
  margin-block: 4px;
  color: hsl(14, 65%, 9%);
  font-size: 16px;
}

.menu__price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 500px);
    gap: 1.5rem;
  }
}