.menu__add-to-cart {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 12px 35px;
  border-radius: 2rem;
  gap: 8px;
  font-size: 14px;
  color: hsl(14, 65%, 9%);
  font-weight: 700;
  font-family: inherit;
  outline: 1px solid hsl(14, 86%, 42%);
  border: none;
  background-color: #fff;
  z-index: 10000;
  top: 73%;
  left: 23%;

  img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .menu__add-to-cart {
    top: 62%;
    left: 13%;
    padding: 8px 25px;
  }
  
}

@media screen and (min-width: 1024px) {
  .menu__add-to-cart {
    top: 75%;
    left: 26%;
    padding: 12px 35px;
  }
  
}